{% extends 'base.html' %}

{% block content %}
<style>
 input {
 margin-top: 50px
 }
</style>
<div><input value="Личный кабинет", class="button", onclick="location.href='http://127.0.0.1:8000/accounts/profile/'"></div>
<h1>Список товаров</h1>
{% for product in object_list %}
{% if product.image %}
    <div>
    <div class="button" role="button" onclick="location.href='{% url "product-detail-list" product.id %}'">
        <p><h5>{{ product.name }}</h5></p>
    <img src="/{{ product.image }}" alt="{{ product.name }}"
        width="300"
        height="300"/>
    </div>
{% else %}
    <div>
    <div class="button" role="button" onclick="location.href='{% url "product-detail-list" product.id %}'">
        <p><h5>{{ product.name }}</h5></p>
    <img src="/static/placeholder.png" alt="No image"
        width="300"
        height="300"/>
    </div>
{% endif %}
{% endfor %}
{% endblock %}