{% extends 'base.html' %}

{% block content %}
<h3>Подтверждение заказа</h3>
<form method="post">
{% for product, unit_price, image in products_in_basket_info %}
    <h4>{{ product }}</h4>
    {% if image %}
    <img src="/{{ image }}" alt="{{ product }}"
        width="100"
        height="100"/>
    {% else %}
    <img src="/static/placeholder.png" alt="No image"
            width="100"
            height="100"/>
    {% endif %}
    <p><b>{{ product.quantity }} шт. {{ unit_price }} руб./шт.</b></p>
</form>
{% endfor %}
    {% csrf_token %}
        {{ form.as_table }}
    <p><b>Общая сумма: {{ summary }} руб.</b></p>
<div><input value="Подтвердить заказ"
       type="button" onclick="location.href='{% url "order-create" %}'"/>
<input value="Отменить"
       class="button"
       onclick="location.href='{% url "basket" %}'"/></div>
{% endblock %}